@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root {
    --cor-azul: #2488E7,
    --cor-vermelho: #DB2E2E,
    --cor-amarelo: #EDED20,
    --cor-verde: #3FBC2F
}

.cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.cabecalho div {
    margin: 0 2rem;
}

.cabecalho_contato {
    align-items: center;
    display: flex;
    gap: 25px;
    justify-content: space-between;
} 
.cabecalho_botao {
    background-color: #3CA1FF;
    border-radius: 4px;
    border: none;
    padding: 1rem;
    color: #FFFFFF;   
    font-family:"Montserrat Alternates", serif;
    font-size: 12px;
}

.cabecalho_contato a{
    font-family:"Montserrat Alternates", serif;
    font-size: 16px;
    text-decoration: none;

    cursor: pointer;
    color: #3e3e3e;   
}
.cabecalho__buton-img {
    background-color: transparent;
    border: none;
}

/*PRINCIPAL*/

main {
    display: flex;
    justify-content: center;
}

.principal {
    
    margin-top: 13rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.principal__titulo {
    font-family: 'Kodchasan', sans-serif;
    font-size: 60px;
}

.D{ 
    color: #2488E7;
}

.u {
    color: #DB2E2E;
}

.te {
    color: #EDED20;
}
.c {
    color: #3FBC2F;
}

.h {
    color: #2488E7;
}

.N {
    color: #DB2E2E;
}

.e {
    color: #EDED20;
}

.t {
    color: #3FBC2F;
}



