@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/*IMPORT CSS*/
@import url("/css/cabecalho.css");
@import url("/css/principal.css");
@import url("/css/links.css");

* {
  margin: 0;
  padding: 0;
}

:root {
  --cor-cinza: #878181;
  --cor-cinza-claro: #b6b6b6;
  --cor-azul: #2488e7;
  --cor-vermelho: #db2e2e;
  --cor-amarelo: #eded20;
  --cor-verde: #3fbc2f;
  --font-principal: "Montserrat Alternates", serif;
  --font-secundaria: "Kodchasan", sans-serif;
  --font-link: "Noto Sans", sans-serif;
}

/*PRINCIPAL*/
/*
main {
    display: flex;
    justify-content: center;
}

.principal {    
    margin-top: 13rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal__titulo {
    font-family: 'Kodchasan', sans-serif;
    font-size: 60px;
}
.D{ 
    color: var(--cor-azul);
}

.u {
    color: var(--cor-vermelho);
}

.te {
    color: var(--cor-amarelo);
}
.c {
    color: var(--cor-verde);
}

.h {
    color: var(--cor-azul);
}

.N {
    color: var(--cor-vermelho);
}

.e {
    color: var(--cor-amarelo);
}

.t {
    color: var(--cor-verde);
}
*/
